<h1>Coctails</h1>

<h3><%= @coctail.name.capitalize %></h3>

<%= link_to "Add alcohol", new_coctail_simple_alcohol_path(@coctail) %> || 
<%= link_to "Add other ingredient", new_coctail_other_ingredient_path(@coctail) %>

<p> Coctail description: <%= @coctail.description%></p>

<ul>Ingredients:</ul>
<% @coctail.simple_alcohols.each do |simple_alcohol| %>
  <li>
  <%= simple_alcohol.kind %> : <%= simple_alcohol.ingredients.first.quantity %> ||
  <%= link_to "Edit", edit_ingredient_path(simple_alcohol.ingredients.first) %> ||
  <%= link_to "Delete", simple_alcohol_path(simple_alcohol), method: :delete, data: { confirm: "Confirm delete?" } %>
  </li>
<% end %>
<% @coctail.other_ingredients.each do |other_ingredient| %>
  <li>
  <%= other_ingredient.name %> : <%= other_ingredient.ingredients.first.quantity %> || 
  <%= link_to "Edit", edit_ingredient_path(other_ingredient.ingredients.first) %> ||
  <%= link_to "Delete", other_ingredient_path(other_ingredient), method: :delete, data: { confirm: "Cofirm delete?" } %>
  </li>
<% end %>
