<div class="container">
  <h1>Alcohols</h1>
  
  <%= link_to "Add new", new_alcohol_path, class: 'btn btn-info' %>
  <% if @user_alcohols %>
    <ul> <%= @user_alcohols.first.user.username %> Alcohols:
      <% @user_alcohols.each do |alcohol| %>
      <li><%= link_to alcohol.name, alcohol_path(alcohol[:id]), class: 'btn btn-info' %> <%= link_to "delete", alcohol_path(alcohol[:id]), method: :delete,data: { confirm: "Cofirm delete?" }, class: 'btn btn-danger' %></li>
    <% end %>
    </ul>
  <% end %>

  <ul> Alcohols
    <% @alcohols.each do |alcohol| %>
    <li><%= link_to alcohol.name, alcohol_path(alcohol[:id]), class: 'btn btn-info' %> <%= link_to "delete", alcohol_path(alcohol[:id]), method: :delete,data: { confirm: "Cofirm delete?" }, class: 'btn btn-danger' %></li>
    <% end %>
  </ul>
</div>