<h1>Add Alcohole</h1>

<div class="form-inputs">
  <%= simple_form_for @alcohol, defaults: { input_html: { class: 'form-inputs' } } do |f| %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :kind, required: true, collection: %w(vodka whiskey wine liqueur other) %>
    <%= f.input :country %>
    <%= f.input :alk %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.simple_fields_for :vodka do |v| %>
        <%= v.input :kind, label: "vodka_kind" %>
    <% end %>
    <%= f.simple_fields_for :liqueur do |l| %>
        <%= l.input :kind, label: "liqueur_kind" %>
    <% end %>

    <%= f.button :submit %>
  <% end %>
</div>
